#Ignore Eclipse related files and folders
dhbwCompiler/.classpath
dhbwCompiler/.cproject
dhbwCompiler/.project
dhbwCompiler/.settings/

dhbwCompiler/src/bin32
dhbwCompiler/src/parser.tab.c
dhbwCompiler/src/parser.tab.h

#Ignore build files and folder
dhbwCompiler/bin/
dhbwCompiler/bin/*
dhbwCompiler/Debug/
dhbwCompiler/Release/
dhbwCompiler/doxygen/

#Ignore javadocs and architecture overhead
.ucls
.jpg
.dia
doc/

#also ignores special files
*.swp

