#Ignore Eclipse related files and folders
.classpath
.cproject
.project
.settings/

dhbwCompiler/src/bin32
dhbwCompiler/src/parser.tab.c
dhbwCompiler/src/parser.tab.h

#Ignore build files and folder
bin/
dhbwCompiler/bin/*
dhbwCompiler/Debug/
dhbwCompiler/Release/
dhbwCompiler/doxygen/

#Ignore javadocs and architecture overhead
.ucls
.jpg
.dia
doc/

#also ignores special files
*.swp

