#Ignore Eclipse related files and folders
.classpath
.cproject
.project
.settings/

src/bin32
src/parser.tab.c
src/parser.tab.h

#Ignore build files and folder
bin/
bin/*
dhbwCompiler/Debug/
dhbwCompiler/Release/
dhbwCompiler/doxygen/

#Ignore javadocs and architecture overhead
.ucls
.jpg
.dia
doc/

#also ignores special files
*.swp

